/*#region Site Footer - upper zone */
.footer_cont {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100%; //h-100
}

.brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*#endregion */

/*#region Footer Left Zone */

.footer_logo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.footer_azienda {
    /* Container di list item */
    ul {
        list-style: none;
        padding-left: 0;
        text-align: left;
    }
    /* singolo list item */
    li {
        padding-top: 1rem;
    }
    /* collegamento */
    a {
        text-decoration: none;
        font-weight: inherit;
        color: $footer-list-text-color;
    }
    /* Classe del titolo */
    .title {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 700;
        color: $footer-list-title-color;
    }
}

.footer_terms {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    /* Container di list item */
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0;
    }
    /* collegamento */
    a {
        text-decoration: none;
        font-weight: 600;
        font-size: 0.8rem;
    }
}
/* #endregion */

/*#region Footer Right zone  */

.icons_cell {
    width: 60px;
    height: 60px;
    background-color: $footer-icons-bg-color;
    border-radius: 2rem;
}

.icon_cont {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.icon_type {
    width: 30px;
    height: 30px;
    color: $footer-list-text-color;
}

.icon_type:hover {
    color: $listening-text-color;
    cursor: pointer;
}

.copy_zone {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 0.8rem;
}

.copy_zone:hover {
    color: $footer-icons-color;
}


/*#endregion*/