/* Palette colori figma */

/* Dimensioni containers */
#site_header {
    height: 80px;
    background-color: aquamarine;
}

#site_main {
    height: 1240px;
    background-color: crimson;
}

#site_footer {
    height: 530px;
    background-color: rgb(20, 220, 220);
}



